@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    retro,
    cyberpunk,
    valentine,
    aqua;
}

@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.tabs-border {
  .tab.tab-inactive {
    &:before {
      --tab-border-color: #0000 #0000 var(--tab-border-color) #0000;
      border-top: none;
    }
  }
}

#mouthful-comments {
  input[type="submit"] {
    background-color: var(--color-base-1200);
    border-color: var(--color-base-content);
  }
}
