.peraturan * {
  font-family: 'Bookman Old Style', 'EB Garamond', serif;
  font-size: 12pt;
  font-weight: normal;
  color: black;
}
.peraturan.wadah {
  background-color: grey;
  padding: 1rem;
  overflow: auto;
}
.peraturan .kertas {
  width: 210mm;
  margin: auto;
  padding: 25mm;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}
.peraturan .judul,
.peraturan .frasa-drtyme,
.peraturan .jabatan-pembentuk,
.peraturan .persetujuan,
.peraturan .kata-memutuskan,
.peraturan .buku,
.peraturan .bab,
.peraturan .bagian,
.peraturan .paragraf,
.peraturan .pasal {
  text-align: center;
}

.peraturan .buku,
.peraturan .bab,
.peraturan .bagian,
.peraturan .paragraf,
.peraturan .pasal,
.peraturan .isi-pasal,
.peraturan .ayat {
  margin-left: 35mm;
}

.peraturan .isi-pasal > .ayat {
  margin-left: 0;
}

.peraturan .ayat {
  position: relative;
  padding-left: 10mm;
}

.peraturan .ayat > span:first-child {
  top: 0;
  left: 0;
  position: absolute;
}

.peraturan h1,
.peraturan h2,
.peraturan h3,
.peraturan h4,
.peraturan h5,
.peraturan h6,
.peraturan p {
  margin-top: 0;
  margin-bottom: 0;
}

.peraturan table,
.peraturan th,
.peraturan td {
  margin: 0;
  padding: 0;
  border: 0;
}

.peraturan th,
.peraturan td {
  vertical-align: top;
}

.peraturan th:first-child {
  width: 30mm;
}
.peraturan td:nth-child(2) {
  width: 5mm;
}
.peraturan td:nth-child(3) {
  width: 125mm;
}

.peraturan :not(center, center > *) {
  text-align: justify;
}

.peraturan ol {
  margin-bottom: 0;
}

.peraturan ol.butir.number  {
  list-style: decimal;
}
.peraturan ol.butir.lower-latin  {
  list-style: lower-latin;
}
.peraturan ol.butir.kurung  {
  counter-reset: list;
  list-style: none;
}
.peraturan ol.butir.number.kurung > li::marker  {
  content: counter(list) ")";
}
.peraturan ol.butir.lower-latin.kurung > li::marker  {
  content: counter(list, lower-latin) ")";
}
