.peraturan {
  * {
    font-family: "Bookman Old Style", "EB Garamond", serif;
    font-size: 12pt;
    font-weight: normal;
    color: black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .judul,
  .frasa-drtyme,
  .jabatan-pembentuk,
  .persetujuan,
  .kata-memutuskan,
  .buku,
  .bab,
  .bagian,
  .paragraf,
  .pasal {
    text-align: center;
  }

  .buku,
  .bab,
  .bagian,
  .paragraf,
  .pasal,
  .isi-pasal,
  .ayat {
    margin-left: 35mm;
  }

  .isi-pasal > .ayat {
    margin-left: 0;
  }

  .ayat {
    position: relative;
    padding-left: 10mm;
    & > span:first-child {
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  table,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
  }

  th,
  td {
    vertical-align: top;
  }

  th:first-child {
    width: 30mm;
  }
  td:nth-child(2) {
    width: 5mm;
  }
  td:nth-child(3) {
    width: 125mm;
  }

  :not(center, center > *) {
    text-align: justify;
  }

  .butir-container {
    margin-bottom: 0;
    padding-inline-start: 5mm;
    .butir-item {
      display: list-item;
      padding-inline-start: 5mm;
      &::marker {
        content: attr(data-marker);
      }
    }
  }
}
@media screen {
  .peraturan.wadah {
    background-color: grey;
    padding: 1rem;
    overflow: auto;
  }
  .peraturan .kertas {
    width: 210mm;
    margin: auto;
    padding: 25mm;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
