---
import "@/styles/globals.css";

interface Props {
	title: string;
	description?: string;
}

import BaseFooter from "@/components/base-footer";
import BaseHeader from "@/components/base-header";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="flex min-h-screen w-full flex-col">
		<BaseHeader client:load />
		<slot />
		<BaseFooter />
</html>
