name: Deploy Workflow

on:
  push:
    branches:
      - master

jobs:
  checks:
    name: Checks Types, Linting and Formatting
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        include:
          - os: ubuntu-latest
            cache_path: ~/.cache/deno/
          - os: macos-latest
            cache_path: ~/Library/Caches/deno/
          - os: windows-latest
            cache_path: ~\AppData\Local\deno\

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install dependencies
        run: deno install

      - name: Run check
        run: deno task check

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true
          cache-hash: ${{ hashFiles('**/deno.json') }}

      - name: Install dependencies
        run: deno install

      - name: Build step
        run: deno task build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fresh-build
          path: _fresh

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Get Artifact
        uses: actions/download-artifact@v4
        with:
          name: fresh-build

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "peraturan"
          entrypoint: "server.js"
